<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-graficodona [labels]="graficos.grafico1.labels" [data]="graficos.grafico1.data" [type]="this.graficos.grafico1.type"></app-graficodona>


            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-graficodona [labels]="graficos.grafico2.labels" [data]="graficos.grafico2.data" [type]="this.graficos.grafico2.type"></app-graficodona>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-graficodona [labels]="graficos.grafico3.labels" [data]="graficos.grafico3.data" [type]="this.graficos.grafico3.type"></app-graficodona>


            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-graficodona [labels]="graficos.grafico4.labels" [data]="graficos.grafico4.data" [type]="this.graficos.grafico4.type"></app-graficodona>

            </div>
        </div>
    </div>
</div>